body{
    background:  #0D3E59;
    font-family: 'Roboto', sans-serif;
}
.divtitulo{
    background: #144E6F;
    color: #FFFFFF;
    width: 199px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;  
    box-shadow: 2px 5px #0e3952;
}

.divinputinseretarefa{
    position: absolute;
    display: flex;

    background-color: #144E6F;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px ;
    box-shadow: 2px 5px #0e3952;
}
.inputinseretarefa{
    width: 663px;
    height: 40px;
    font-size:20px ;
    color: #A9C5D4;
    background-color: #144E6F;    

    border: none;
    padding-left: 10px;
}
span.material-icons {
    font-size: 30px;
    color: #2D9CDB;
}
.btninseretarea{
    background-color: #144E6F;
    border: none;
}
::placeholder{
    color: #A9C5D4
   
}
